.blog__title {
  font-family: "Cormorant Bold";
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.blog__link {
  @include link-reset;
  font-family: "Poppins Medium";
  font-weight: 500;
  line-height: 130%;
  font-size: 16px;
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 4px;
  margin-top: 17px;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 65px;
    height: 1px;
    transform: translateX(-50%);
    background-color: $gold-color;
  }
}

.blog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "care power"
                       "jewellery power";
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
  margin-top: 60px;

  @media (max-width: $tablet-width) {
    grid-template-areas: "care"
                         "jewellery"
                         "power";
  grid-template-columns: 1fr;
  row-gap: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 52px;
    row-gap: 40px;
  }
}

.blog__item {
  max-width: 570px;
  display: flex;
  width: 100%;
  align-items: stretch;

  &-picture {
    width: 50%;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  &-description {
    width: 50%;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.blog__item:first-child {
  grid-area: care;
}

.blog__item:nth-child(2) {
  grid-area: jewellery;

  .blog__item-picture {
    order: 1;

    @media (max-width: $mobile-width) {
      order: 0;
    }
  }
}

.blog__item:last-child {
  grid-area: power;
  position: relative;

  .blog__item-picture {
    width: 100%;

    @media (max-width: $tablet-width) {
      width: 50%;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  .blog__item-description {
    min-height: calc((100% - 30px)/2);

    @media (max-width: $mobile-width) {
      min-height: 256px;
    }
  }
}

.blog__item:last-child .blog__item-description {
  position: absolute;
  bottom: 0;
  right: 0;

  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.blog__item-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    aspect-ratio: 347/300;
  }
}

.blog__item-description {
  background-color: $dirty-white;

  @media (max-width: $mobile-width) {
    min-height: 256px;
  }

  p {
    font-family: "Poppins Medium";
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $grey;
    margin: 0;
    margin-top: 68px;
    padding: 0;
    text-align: center;

    @media (max-width: $mobile-width) {
      margin-top: 45px;
    }
  }

  h3 {
    font-family: "Cormorant Semi Bold";
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: $total-black;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    max-width: 165px;
  }

  a {
    @include link-reset;
    font-family: "Poppins Medium";
    font-size: 16px;
    line-height: 130%;
    color: $font-color;
    display: block;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 40px;
    padding-bottom: 4px;

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $gold-color;
    }

    &:hover {
      color: $gold-color;
    }
  }
}
