.faq {
  padding-top: 111px;

  @media (max-width: $tablet-width) {
    padding-top: 74px;
  }
}

.faq__title {
  font-family: "Cormorant Bold";
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.faq__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 970px;
  border: 1px solid $gold-color;
  margin: 0 auto;
  margin-top: 52px;

  @media (max-width: $tablet-width) {
    margin-top: 44px;
  }
}

.faq__item {
  width: 100%;
  border-bottom: 1px solid $gold-color;

  &:hover {
    cursor: pointer;
  }
}

.faq__item-title {
  padding-top: 45px;
  padding-left: 41px;
  padding-right: 41px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-top: 42px;
    padding-left: 52px;
    padding-right: 52px;
  }

  &:hover h3 {
    color: $gold-color;
  }

  h3 {
    margin: 0;
    font-family: "Poppins Medium";
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $font-color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 9px;
      top: 50%;
      transform: translate(0, -50%);
      right: 10px;
      background-image: url("../img/icons/arrow-down.svg");
      background-repeat: no-repeat;

      @media (max-width: $tablet-width) {
        width: 23px;
        height: 12px;
        background-size: cover;
        right: 0;
      }
    }
  }
}

.faq__item-body {
  padding-left: 38px;
  padding-right: 38px;
  box-sizing: border-box;

  p {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 40px;
    max-width: 527px;
    font-family: "Poppins Regular";
    font-size: 16px;
    line-height: 130%;
    color: $font-color;
    padding-left: 10px;

    @media (max-width: $tablet-width) {
      max-width: 580px;
      padding-top: 25px;
      padding-bottom: 46px;
    }
  }
}
