.container {
  max-width: 1210px;
  width: 100%;
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    padding: 0 15px;
  }
}
