@import "fonts.scss";
@import "variables.scss";
@import "container.scss";
@import "global.scss";
@import "mixins.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/main-picture.scss";
@import "blocks/swiper.scss";
@import "blocks/blog.scss";
@import "blocks/faq.scss";
@import "blocks/accordion.scss";
@import "blocks/insta.scss";
@import "blocks/catalog.scss";
@import "blocks/filter.scss";
@import "blocks/catalog-picture.scss";
@import "blocks/catalog-main.scss";
